.vscode/
./Playbook
.venv/
scripts/output/
Grafana-log/logstash-output
Grafana-log/.venv/
Playbook/*.docx
fab/
.virtual_documents/
.DS_Store
logs/
golang/golang_exporter/output
config/__pycache__/
Vagrant/master_node/.vagrant
Vagrant/data_node1/.vagrant
golang/.env
golang/db_api/output/
golang/db_api/go_run_dev.sh
golang/db_api/go_run_qa.sh
golang/db_api/logger/
golang/db_api/db_api_agent.exe
golang/golang_exporter/go_run_qa.sh
golang/golang_exporter/go_run_dev.sh
golang/gin_framework/output/
golang/tools_script/go_run_dev.sh
golang/tools_script/output/
golang/tools_script/go_run_qa.sh
golang/socket/output/
golang/process_watchdog/output/
mcp/.venv/
ssh_client.py
ssh_client.sh
ssh_config.json
standalone-tools-export-run-dev.sh
RPC/gRPC/gRPC_config.json
db_interface_app/.env

